$color-text-dark:#000000;
$color-text-light:#FFFF;

$color-bg-light: #ffe0e5;
$color-bg-dark-s:#fac6ce;
$color-bg-dark-l: #f1b3be;
$color-bg-hover: #ffeaed;

$color-bg-body: #f0ffee;
$color-bg-textarea: #fcfcfc;


